<!DOCTYPE html>
<html lang="id">
<head>
    {{ partial "head" . }}
</head>
<body class="font-serif">
    <div class="flex flex-col justify-between min-h-screen">
        <div>
            {{ partial "navbar" . }}

            <main class="py-8 sm:py-24 max-w-screen-md mx-auto px-4 md:px-0">
                {{ block "main" . }} {{ end }}
            </main>
        </div>

        {{ partial "footer" . }}
    </div>

    {{ block "script" . }} {{ end }}
    {{ partial "script" . }}
</body>
</html>