{{ define "main" }}
<div class="prose mx-auto px-4 md:px-0">
    <h1 class="flex flex-col sm:flex-row items-center justify-between gap-2 sm:gap-0 text-center sm:text-left">
        <span class="order-last sm:order-first">{{ .Title }}</span> 
        <span class="font-arab">{{ .Params.arabic }}</span>
    </h1>
    <p>Terdapat {{ .Params.ayah }} ayat dalam surah {{ .Title }}.</p>
    <hr>
    <div>
        {{ range sort .Pages ".Params.no" "asc" }}
            <div>
                <div dir="rtl" class="text-3xl leading-[2.5] font-arab">
                    <p>{{ .RawContent }} {{ .Params.arabic_no }}</p>
                </div>
                <p><i>{{ .Params.no }}. {{ .Params.translation }}</i></p>
            </div>
            <hr>
        {{ end }}
    </div>
    </div>
</div>
{{ end }}