@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'LPMQ';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/font/lpmq.otf) format('opentype');
    }
}