{{ $site := .Site }}

<div class="border-b sticky top-0 left-0 bg-white">
    <nav class="max-w-screen-md mx-auto py-4 flex items-center justify-between px-4 md:px-0">
        <a href="/" class="font-bold text-gray-900">
            <svg class="w-5 h-5 sm:hidden" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12H3l9-9l9 9h-2"></path><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-7"></path><path d="M9 21v-6a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2v6"></path></g></svg>
            <span class="hidden sm:block">Beranda</span>
        </a>
        <div class="flex items-center gap-x-2">
            <select id="select-surah" class="py-1.5 pl-3 pr-10 text-sm">
                <option value="" selected disabled>Pilih Surah</option>
                {{ $sectionTitle := .CurrentSection.Title }}

                {{ range sort $site.Data.surah "no" "asc" }}
                    <option value="{{ .slug }}" {{ if eq .name $sectionTitle }} selected {{ end }}>{{ .name }}</option>
                {{ end }}
            </select>
            {{ if and (eq .Section "surah") (ne .File.Path "surah/_index.md") }}
            <select id="select-ayah" class="py-1.5 pl-3 pr-10 text-sm">
                <option value="" selected disabled>Pilih Ayat</option>
                {{ $isSection := .IsSection }}
                {{ $currentAyah := .Params.no }}
                {{ $slug := .CurrentSection.Params.slug }}

                {{ range seq .CurrentSection.Params.ayah }}
                    <option value="{{ . }}" {{ if and (not $isSection) (eq $currentAyah .) }} selected {{ end }}>{{ . }}</option>
                {{ end }}
            </select>
            {{ end }}
        </div>
    </nav>
</div>