<script>
    const baseUrl = '{{ .Site.BaseURL }}'
    document.querySelector('#select-surah')
        .addEventListener('change', e => {
            window.location.href = new URL(`/surah/${e.target.value}`, baseUrl).href
        })

    {{ if eq .Section "surah" }}
    document.querySelector('#select-ayah')
        .addEventListener('change', e => {
            {{ if .IsSection }}
            const ayah = document.querySelector(`#ayah-${e.target.value}`)

            window.scrollTo({
                top: ayah.offsetTop
            })

            e.target.blur()
            {{ else }}
            const sectionSlug = '{{ .CurrentSection.Params.slug }}'
            window.location.href = new URL('/surah/' + sectionSlug + '/' + e.target.value, baseUrl).href
            {{ end}}
        })
    {{ end }}
</script>