<script>
    document.querySelector('#select-surah')
        .addEventListener('change', e => {
            window.location.href = e.target.value
        })

    {{ if eq .Section "surah" }}
    document.querySelector('#select-ayah')
        .addEventListener('change', e => {
            {{ if .IsSection }}
            const ayah = document.querySelector(`#ayah-${e.target.value}`)

            window.scrollTo({
                top: ayah.offsetTop
            })

            e.target.blur()
            {{ else }}
            window.location.href = e.target.value
            {{ end}}
        })
    {{ end }}
</script>